<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/ingredient.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/d3fe77b87c.js"></script>
</head>
<body>
   
    <!-- Nav -->
    <nav>
        <a class="btn btn-primary" href="/recipes" role="button" style="margin: 2% 11% 2% 20.5%;">Back to My Recipes</a>
    </nav>   

    <!-- Jumbotron -->
    <div class="container">
        <div class="p-5 text-center bg-image rounded-3" style="
        background-image: url('https://i.postimg.cc/gJcWgkD1/toa-heftiba-o-Qv-ESMKUkz-M-unsplash.jpg');
        height: 300px;
        ">
            <!--<div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Recipe Ingredients</h1>
                        <p>hello world</p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
<!-- Container & Section Divs -->
    <div class="container" style="margin: 2% 10% 2% 10%;">
        <!-- Putting 2 Columns in a Row-->
        <div class="row">
            <!-- Column 1 Recipe Name, Count, Ingredient Form, Submit Button-->
          <div class="col-xs-6 pl-2">
            <h1 id="recipeName"><%= recipeName.recipeName %> Ingredients</h1>
            <h3><%= user.userName %>, you have <%= count %> ingredient(s) left to get</h3>
            <form action="/ingredients/createIngredient/<%= recipeName.recipeName %>" method='POST'>
                <input type="text" placeholder="Enter Ingredient" name='ingredientItem' class="form-control" style="width:25%;">
                <input class="btn btn-primary" type="submit" value="Submit" style="margin-top: 20px;">
            </form>
          </div>
          <!--classes labeled col are wip, image can potentially be placed here-->

          <!-- Column 2 Cross & Uncross Buttons, List, Description-->
          <div class="col-xs-6" style="border-left: 2px solid black; margin-bottom: 10%;">
            <button class="button crossAll btn btn-success" style="margin-top: 20px; margin-bottom: 20px; margin-left: 2%;">Cross all items</button>
            <button class="button uncrossAll btn btn-danger" style="margin-top: 20px; margin-bottom: 20px;">Uncross all items</button>
            <ul class="list-group">
                <% ingredients.forEach( el => { %>
                    <li class='ingredientItem list-group-item' data-id='<%=el._id%>'>
                        <span class="<%= el.completed === true ? 'completed' : 'not'%>"> <%= el.ingredient %></span>
                        <!--<span class='del'> Delete </span>-->
                        <i class="fa fa-trash fa-lg del" aria-hidden="true"></i>
                    </li>
                <% }) %>    
            </ul>
            <h2 style="margin-left: 2%;">Description</h2>
            <p><%= recipeName.recipeDescription %></p>
          </div>
            <!-- <form action="/ingredients/<%= recipeName.recipeName %>/editDescription" method='POST'>
                <input type="text" name='recipeName.recipeDescription' value="<%= recipeName.recipeDescription %>" class="form-control" style="width:25%;">
                <input class="btn btn-primary editDescription" type="submit" value="Edit" style="margin-top: 20px;">
            </form> -->
          
        </div>
    </div>

    <!-- Logout -->
    <a style="margin: 10% 10% 2% 11%; padding-bottom: 3%;" href="/logout">Logout</a>

    <script src="/js/main.js"></script>
    <script src="/js/ingredient.js"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZcrossorigin="anonymous"></script>
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIXNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>