

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/recipe.css">

</head>
<body>
    <h1>Recipes</h1>
    <form action="/recipes/getSortedRecipe" method="GET">
        <input type="button" name="Sort A-Z" id=""> <!--for sorting recipe-->
    <!-- </form>
    <button type="button" class="openForm">Add Recipe</button>
 
        <ul class="recipeList">
            <% recipes.forEach( el => { %>
                    <li class='recipeItem' data-id='<%=el._id%>'>
                        <a href="/ingredients/<%=el.recipeName%>"><span class="recipeTitle"> <%= el.recipeName %></span></a>
                        <span class='del'> Delete </span>
                    </li>
                    
            <% }) %>    
            </ul>
        
            <h2><%= user.userName %>, you have <%= count %> recipes!</h2>
  
   


    <form action="/recipes/createRecipe" method='POST' enctype="multipart/form-data"> <!--adding enctype to try to allow form to upload img-->
        <!-- <input type="text" placeholder="Enter Recipe Name" name='recipeName'> 
        <input type="file" name="" id="">  -->
        <!--input for upload img-->

    <!-- <form action="/recipes/createRecipe" method='POST'>
        <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
>>>>>>> 609104ff7e9dfb02c6aeccc2ed615889abc64173
=======
     <form action="/recipes/createRecipe" method='POST'>
        <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
        <input type="text" placeholder="Enter Recipe Category" name='recipeCat'>
        <input type="text" placeholder="Enter Description" name='recipeDescription'>
         <input type="file" id="imageFile" name="filename">
>>>>>>> 6e17cb8857563f1d226ae47f659bb01e206c9604
        <input type="submit">
    </form> -->

    <!-- <a href="/logout">Logout</a>


     <section class="form-popup" id="myForm">
        <h2>Add New Recipe</h2>
        <form action="/recipes/createRecipe" method='POST' class="form-container">
            <label>Title</label>
            <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
            <label>Category</label>
            <input type="text" placeholder="Category" name='recipeCategory'>
            <label for="description">Description</label> -->
             <!-- <input type="text" placeholder="Optional Description" name='recipeDescription'> 
             <textarea id="description" name='recipeDescription' rows="5"></textarea>
            <label>Photo</label>
            <input type="file" placeholder="Photo" name='recipePhoto' accept="image/png, image/jpeg"> there is also type="image" 
             <input type="submit">
             <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel closeForm">Close</button>
        </form>
    </section>  -->

<!-- 
    <script src="/js/main.js"></script>
    <script src="/js/recipe.js"></script>
</body>
</html>  -->









<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Heroic Features - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link href="css/recipe.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/d3fe77b87c.js"></script>
    </head>
    <body>



        <!-- Responsive navbar-->
        <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>-->
        <!-- Header-->
        <header class="pt-5">
            <div class="container px-lg-5">
                <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-4 m-lg-5">
                        <h1 class="display-5 fw-bold"><%= user.userName %>, you have <%= count %> recipes!</h1>
                        <p class="fs-4">Browse, Edit, and Delete Your Recipes</p>
                        <!--<a class="btn btn-primary btn-lg" href="#!">Call to action</a>-->
                    </div>
                </div>
            </div>
        </header>

        <!-- <ul class="recipeList">
            <% recipes.forEach( el => { %>
                    <li class='recipeItem' data-id='<%=el._id%>' style="margin: 2%;">
                        <a href="/ingredients/<%=el.recipeName%>"><span class="recipeTitle"> <%= el.recipeName %></span></a>
                        <span class='del'> Delete </span>
                    </li>
                    
            <% }) %>    
            </ul> -->
    
    <!-- <form action="/recipes/createRecipe" method='POST' style="margin-bottom: 2%;"> -->
        <!-- <input type="text" placeholder="Enter New Recipe Name" name='recipeName' class="form-control" style="width:30%;"> -->
        <section  class="newRecipeButton">
        <input class="btn btn-primary openForm" type="submit" value="Enter New Recipe" style="margin-left: .5%;">
    </section>
    <!-- </form> -->
    
    <!--New Recipe Form-->
    <section class="form-popup pt-5" style="margin: 2% 2% 0 0;" id="myForm">
        <h2>Add New Recipe</h2>
        <form action="/recipes/createRecipe" method='POST' class="form-container" style="background-color: #D3D3D3">
            <label>Title</label>
            <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
            <label>Category</label>
            <input type="text" placeholder="Category" name='recipeCategory'>
            <label for="description">Description</label>
            <!-- <input type="text" placeholder="Optional Description" name='recipeDescription'> -->
            <textarea id="description" name='recipeDescription' rows="5"></textarea>
            <label>Photo</label>
            <input type="file" placeholder="Photo" name='recipePhoto' accept="image/png, image/jpeg"> <!--there is also type="image"-->
            <!-- <input type="submit"> -->
            <button type="submit" class="btn" id="submit">Submit</button>
            <button type="button" class="btn cancel closeForm">Close</button>
        </form>
    </section>


    
        <!-- Page Content-->
        <!-- <section class="pt-4">
            <div class="container px-lg-5"> -->
                <!-- Page Features-->
                <!-- <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">Fresh new layout</h2>
                                <p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this template!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                                <h2 class="fs-4 fw-bold">Free to download</h2>
                                <p class="mb-0">As always, Start Bootstrap has a powerful collectin of free templates.</p>
                            </div>
                        </div> -->
                    <!--</div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                                <h2 class="fs-4 fw-bold">Jumbotron hero header</h2>
                                <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                                <h2 class="fs-4 fw-bold">Feature boxes</h2>
                                <p class="mb-0">We've created some custom feature boxes using Bootstrap icons!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                                <h2 class="fs-4 fw-bold">Simple clean code</h2>
                                <p class="mb-0">We keep our dependencies up to date and squash bugs as they come!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                                <h2 class="fs-4 fw-bold">A name you trust</h2>
                                <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                            </div>
                        </div>
                    </div>-->
                <!-- </div>
            </div>
        </section>  -->

        
        <section class="pt-4">
            
            <div class="container px-lg-5">
                <!-- Page Features-->
                
                <div class="row gx-lg-5">
                    <% recipes.forEach( el => { %>  
                    <div class="col-lg-6 col-xxl-4 mb-5" data-id='<%=el._id%>'>
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4" ><i class="bi bi-collection"></i></div>
                                <a href="/ingredients/<%= el.recipeName %>">
                                    <h2 class="fs-4 fw-bold" ><%= el.recipeName %></h2>
                                   </a>
                                    <p class="fs-4"><%=el.recipeDescription%></p>
                                    <!-- <p class="mb-0" style="padding-bottom: 1%;">Recipe</p> -->
                                <span ><i class="fa fa-trash fa-lg del" aria-hidden="true"></i></span>
                                <span class='del'> Delete </span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div> 
            </div>
        </section>
       

        <div class="logout">
            <a style="padding-bottom: 3%;" href="/logout">Logout</a>
            </div>
        

               <!-- Footer-->
        <!--<footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- <script src="/js/scripts.js"></script> --> 
        <script src="/js/main.js"></script>
    <script src="/js/recipe.js"></script>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>


    </body>
</html>
