<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/recipe.css">

</head>
<body>
    <h1>Recipes</h1> 
    <button type="button" class="openForm">Add Recipe</button>
 
        <ul class="recipeList">
            <% recipes.forEach( el => { %>
                    <li class='recipeItem' data-id='<%=el._id%>'>
                        <a href="/ingredients/<%=el.recipeName%>"><span class="recipeTitle"> <%= el.recipeName %></span></a>
                        <span class='del'> Delete </span>
                    </li>
                    
            <% }) %>    
            </ul>
        
            <h2><%= user.userName %>, you have <%= count %> recipes!</h2>
  
   

    <form action="/recipes/createRecipe" method='POST' class="recipeForm hidden">
        <input type="text" spellcheck="true" placeholder="Enter Recipe Name" name='recipeName'>
    <!-- <form action="/recipes/createRecipe" method='POST'>
        <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
        <input type="submit">
    </form> -->

    <a href="/logout">Logout</a>


    <section class="form-popup" id="myForm">
        <h2>Add New Recipe</h2>
        <form action="/recipes/createRecipe" method='POST' class="form-container">
            <label>Title</label>
            <input type="text" placeholder="Enter Recipe Name" name='recipeName'>
            <label>Category</label>
            <input type="text" placeholder="Category" name='recipeCategory'>
            <label for="description">Description</label>
            <!-- <input type="text" placeholder="Optional Description" name='recipeDescription'> -->
            <textarea id="description" name='recipeDescription' rows="5"></textarea>
            <label>Photo</label>
            <input type="file" placeholder="Photo" name='recipePhoto' accept="image/png, image/jpeg"> <!--there is also type="image"-->
            <!-- <input type="submit"> -->
            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel closeForm">Close</button>
        </form>
    </section>


    <script src="/js/main.js"></script>
    <script src="/js/recipe.js"></script>
</body>
</html>